/* Navigation Styles */
.navbar {
 
    background-color:rgba(0, 0, 0, 0.247);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
   
    
    
}

.nav-container {
   
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    
}

.logo h2 {
    color: var(--secondary-color);
    margin: 0;
}

.logo h2 span {
    color: var(--primary-color);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
    
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 5px;
   
}

.nav-links a:hover,
.nav-links a.active {
    color: var(--primary-color);
}

.login-btn {
    background-color: var(--secondary-color     );
    color: var(--white) !important;
    padding: 8px 20px !important;
}

.login-btn:hover {
    background-color: rgba(230, 120, 21, 0.9);
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--secondary-color);
    cursor: pointer;
}



@media (max-width: 768px) {
    .menu-toggle {
     
        display: block;
        color: white;
     
       
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: transparent;
        backdrop-filter: blur(100px);
        flex-direction: column;
        padding: 1rem 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        
    }

    .nav-links.active {
        display: flex;
        
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-buttons {
        flex-direction: column;
        align-items: center;
    }

    .section-title {
        font-size: 2rem;
    }
}